@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.single-hero-sect {
  padding-bottom: $sectionPadding1024;

  &__top {
    // margin: 0 0 60px;
    display: flex;
    align-items: flex-start;
    position: relative;

    &::before {
      // decor background
      content: '';
      position: absolute;
      bottom: 0;
      left: -35px;
      width: 500px;
      height: calc(100% - 100px);
      background: #eeece6;
      pointer-events: none;
      z-index: -1;
    }

    .single-hero-sect__img {
      // slider images
      width: 570px;
      height: 330px;
      max-height: 330px;
    }

    .single-hero-sect__pic {}

    .single-hero-sect__a,
    .single-hero-sect__pic {
      flex-shrink: 0;
    }
  }

  &__slider-wrap {
    margin: 0 60px 0 0;
    flex-shrink: 0;
    max-width: 100%;
    width: 570px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  &__slider {}

  &__pic {}

  &__text {}

  &__title {
    margin-top: -15px;

    &::before {
      // decor ring
    }
  }

  &__parent-brand {}

  &__child-brand {}

  &__descr {}

  &__bottom {
    grid-template-columns: 1fr 40px 1fr 40px 1fr;

    >.single-hero-sect__props {
      grid-row: 1;
      grid-column: 1;
    }

    // with 4 images
    &.pics-4 {
      grid-template-rows: 1fr 40px auto;

      >.single-hero-sect__pic {
        &:first-of-type {
          grid-row: 1;
          grid-column: 3;
        }

        &:nth-of-type(2) {
          grid-row: 1;
          grid-column: 5;
        }

        &:nth-of-type(3) {
          grid-row: 3;
          grid-column: 1;
        }

        &:last-of-type {
          grid-row: 3;
          grid-column: 3;
        }
      }

      >.single-hero-sect__descr-opt {
        grid-row: 3;
        grid-column: 5;
      }

      &.no-text {
        grid-template-rows: 1fr 40px auto;
      }

    }

    // with 3 images
    &.pics-3 {
      grid-template-rows: 1fr 40px auto;

      >.single-hero-sect__pic {
        &:first-of-type {
          grid-row: 1;
          grid-column: 3;
        }

        &:nth-of-type(2) {
          grid-row: 1;
          grid-column: 5;
        }

        &:last-of-type {
          grid-row: 3;
          grid-column: 1;
        }
      }

      >.single-hero-sect__descr-opt {
        grid-row: 3;

        &.long-text {
          grid-column: 3/span 3;
        }

        &.short-text {
          grid-column: 3;
        }
      }

      &.no-text {
        grid-template-rows: 1fr 70px auto;
        // position: relative;

        >.single-hero-sect__props {
          grid-column: 1/span 3;
          flex-flow: row;
        }

        .single-hero-sect__prop {
          &:nth-last-child(n+2) {
            margin: 0 60px 0 0;
          }
        }

        >.single-hero-sect__pic {
          &:first-of-type {
            grid-row: 3;
            grid-column: 1;
          }

          &:nth-of-type(2) {
            grid-row: 3;
            grid-column: 3;
          }

          &:last-of-type {
            grid-row: 3;
            grid-column: 5;
          }
        }

        // &::before {
        //   content: '';
        //   width: 220px;
        //   height: 150px;
        //   position: absolute;
        //   right: 150px;
        //   top: -65px;
        //   background: center/contain no-repeat;
        // }

        // &.lazyloaded::before {
        //   background-image: url('../img/decor-tree-3.svg');
        // }
      }
    }

    // with 2 images
    &.pics-2 {
      grid-template-rows: auto 40px 1fr;

      >.single-hero-sect__pic {
        &:first-of-type {
          grid-row: 1;
          grid-column: 3;
        }

        &:last-of-type {
          grid-row: 1;
          grid-column: 5;
        }
      }

      >.single-hero-sect__descr-opt {
        grid-row: 3;
        position: relative;

        &.lazyloaded::before {
          background-image: url('../img/decor-tree-3.svg');
        }

        &::before {
          content: '';
          width: 450px;
          height: 200px;
          position: absolute;
          bottom: 0;
          left: 40px;
          transform: translateX(-100%);
          background: center/contain no-repeat;
        }

        &.long-text {
          grid-column: 3/span 3;
        }

        &.short-text {
          grid-column: 3;
        }
      }

      &.no-text {
        grid-template-rows: auto;
      }
    }

    // with 1 images
    &.pics-1 {
      grid-template-rows: auto 40px 1fr;

      >.single-hero-sect__props {
        flex-flow: row;
        grid-column: 1/span 4;
      }

      .single-hero-sect__prop {
        &:nth-last-child(n+2) {
          margin: 0 100px 0 0;
        }
      }

      >.single-hero-sect__pic {
        &:first-of-type {
          grid-row: 1/span 3;
          grid-column: 5;
          // position: relative;

          // &::before {
          //   content: '';
          //   width: 400px;
          //   height: 220px;
          //   position: absolute;
          //   bottom: 0;
          //   left: -35px;
          //   transform: translate(-50%, 35%);
          //   background: center/contain no-repeat;
          //   z-index: -1;
          // }

          // &.lazyloaded::before {
          //   background-image: url('../img/decor-tree-3.svg');
          // }
        }
      }

      >.single-hero-sect__descr-opt {
        max-width: 550px;
        grid-row: 3;
        grid-column: 1/span 3;

        &.short-text {
          position: relative;

          &.lazyloaded::before {
            background-image: url('../img/decor-forest-1.svg');
          }

          &::before {
            content: '';
            width: 465px;
            height: 235px;
            position: absolute;
            bottom: -25%;
            left: 50%;
            transform: translate(-50%, 100%);
            background: center/contain no-repeat;
          }
        }
      }

      &.no-text {
        grid-template-rows: auto;

        &::before {
          content: '';
          margin-right: -55px;
          width: 360px;
          height: 250px;
          grid-row: 1;
          grid-column: 4/span 2;
          justify-self: end;
          align-self: center;
          background: center/contain no-repeat;
        }

        &.lazyloaded::before {
          background-image: url('../img/decor-tree-3.svg');
        }

        >.single-hero-sect__props {
          flex-flow: column;
          grid-column: 1;
        }

        .single-hero-sect__prop {
          &:nth-last-child(n+2) {
            margin: 0 0 60px 0;
          }
        }

        >.single-hero-sect__pic {
          &:first-of-type {
            grid-column: 3;
            grid-row: 1;
            // &::before {
            //   display: none;
            // }
          }
        }
      }
    }

    // with no images
    &.no-pics {
      grid-template-rows: auto 40px 1fr;
      position: relative;

      &::before {
        content: '';
        width: 430px;
        height: 210px;
        position: absolute;
        bottom: -55px;
        right: 0;
        background: center/contain no-repeat;
      }

      &.lazyloaded::before {
        background-image: url('../img/decor-forest-2.svg');
      }

      >.single-hero-sect__props {
        flex-flow: row;
        grid-column: 1/span 4;
      }

      .single-hero-sect__prop:nth-last-child(n+2) {
        margin: 0 60px 0 0;
      }

      >.single-hero-sect__descr-opt {
        max-width: 450px;
        grid-row: 3;
        grid-column: 1/span 3;
      }

      &.no-text {
        grid-template-rows: 1fr;

        &::before {
          bottom: -125px;
        }

        >.single-hero-sect__props {
          grid-column: 1/span 5;
        }
      }
    }
  }


  &__props {
    flex-flow: column;
  }

  &__prop {
    &:nth-last-child(n+2) {
      margin: 0 0 60px;
    }

    &-title {}

    &-text {}
  }

  &__descr-opt {}
}