@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.catalogue-items-sect {
  padding-top: $sectionPadding320;
  padding-bottom: $sectionPadding320;
  &.with-title {
    .catalogue-items-sect__title {
      font-size: 30px;
      display: inline-block;
      // position: relative;
      &::before {
        // decor ring
        // content: '';
        // position: absolute;
        // bottom: 0;
        // right: 50px;
        // width: 115px;
        // height: 40px;
        // border-radius: 50%;
        // border: 1px solid $lightBeige;
        // transform: translate(100%, 100%) rotate(-15deg);
        // z-index: -1;
        // pointer-events: none;
      }
    }
    .catalogue-items-sect__descr {
      margin-top: 20px;
      max-width: 400px;
      display: block;

      &::before {
        margin: 0 5px 0 0;
        content: '';
        display: inline-block;
        width: 45px;
        height: 1px;
        background: $darkBrown;
        vertical-align: middle;
      }
    }
  }

  &__heading {
    margin: 0 0 25px;
  }

  &__title {
    font: bold 22px/160% Oswald;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__descr {
    display: none;
  }

  &__nav {}

  &__loadmore {
    margin: 50px auto 0;
    width: 185px;
    height: 50px;
  }
}

.catalogue-items {
  &.loading {
    .catalogue-items__right {
      pointer-events: none;
      opacity: 0;
    }
  }
  &__left {
    // margin-top: 50px;
    font: 400 14px/100% OpenSans;
    text-transform: uppercase;
    color: $darkBrown;
  }

  &__left-line {
    display: none;
  }

  &__category {
    margin: 0 15px 30px 0;
    display: inline-block;
    transition: color .5s;
    &.active {
      color: $green;
      pointer-events: none;
    }
  }

  &__right {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    transition: opacity .5s;
    // &.lazyloaded {
    //   .catalogue-item__title::after {
    //     background-image: url('../img/icon-arrow-catalogue.svg');
    //   }
    // }
  }

  &__right-item {
    margin-top: -20px;
    display: none;
    grid-row: 1;
    grid-column: 1;

    &.active {
      display: block;
    }
  }

  &__item {
    padding: 40px 1px 0;
  }

  &__link {
    margin-top: 50px;
    display: inline-flex;
    padding: 16px 48px;
  }
}

.catalogue-item {

  // обертка нужна для :focus
  // верний padding нужен для loadmore
  &__link {
    display: none;
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  &__title {
    display: block;
    padding: 30px 20px 0 0;
    font: bold 16px/130% OpenSans;
    text-transform: uppercase;
    color: $darkBrown;
    border-top: 1px solid $greyBrown;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: calc(30px + 0.5em * 1.3); // pt + fz + lh
      right: 0;
      width: 20px;
      height: 8px;
      background: center/contain no-repeat;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }

  &__descr {
    margin-top: 5px;
    font: 300 14px/130% OpenSans;
    text-transform: uppercase;
    color: $greyBrown;
  }

  &__img {
    margin-top: 20px;
    width: 100%;
    min-height: 185px;
    background: url('../img/img-placeholder.svg') center/cover;
  }

  &__arrow {
    padding: 6px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: rgba(0, 0, 0, .5);

    >svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }

  &__prev {
    left: 0;

    >svg {
      transform: rotate(180deg);
    }
  }

  &__next {
    right: 0;
  }

  &__price-block {
    padding: 30px 0 0 0;
    border-top: 1px solid #746d67;
    display: flex;
    flex-flow: column;
    font-size: 15px;
  }

  &__old-price {
    text-decoration: line-through;
    opacity: .5;
  }

  &__gallery {
    width: 100%;
    min-height: 185px;
    position: relative;

    &:not(.slick-slider) {
      +.catalogue-item__nav {
        display: none;
      }
    }

    &-wrap {
      width: 100%;
      position: relative;
    }
  }

  &__nav {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 65px;
    right: 0;
    background: #f6f5f4;
  }

  &__counter {
    margin: 0 15px;
  }

  &__btn {
    margin: 25px auto 0;
    width: 70%;
    height: 40px;
  }
}

.category-sale {
  text-align: center;
  .catalogue-items__item {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    .slick-list {
      overflow: hidden;
    }
  }

  .catalogue-items-sect__heading {
    text-align: left;
  }

  .catalogue-hero-sect__descr {
    text-align: left;
  }

  .catalogue-item__title-block {
    flex: 1;
  }

  .catalogue-item__title::after {
    display: none;
  }
}

.catalogue-items.lazyloaded {
  .catalogue-item__title::after {
    background-image: url('../img/icon-arrow-catalogue.svg');
  }
}

.catalogue-items-sect[data-id=brands] {
}

.catalogue-items-sect[data-id=items] {
  .catalogue-items-sect__descr {
    position: relative;
    &::after {
      // decor tree
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 280px;
      height: 120px;
      background: url('../img/decor-tree-2.svg') center/contain no-repeat;
      transform: translate(50%, -50%);
      z-index: -1;
      pointer-events: none;
    }
  }
}

.catalogue-items-sect[data-id=items],
.catalogue-items-sect[data-id=catalogue-items], {
  .catalogue-items-sect__nav {
    display: none;
  }
}

.catalogue-items-sect[data-id=related-items] {
  > .catalogue-items {
    // max-width: 400px;
    // margin: auto;
  }
}

.product-popup {
  background: rgba(0,0,0,.7);
  &__cnt {
    padding: 20px 20px 40px;
    display: flex;
    flex-flow: column;
  }

  &__close {
    margin: 0 0 20px auto;
  }

  &__close-svg {}

  &__close-path {}

  &__title {
    margin: 0 0 25px;
    font: 500 22px/160% Oswald, sans-serif;
    text-transform: uppercase;
    color: #2A1510;
  }

  &__form {
    .field {
      width: 100%;
      &__inp {}

      &__text {}

      &__textarea {}
    }

    .field_name,
    .field_tel,
    .field_email {
      margin: 0 0 35px;
    }

    .field_name {}

    .field_tel {}

    .field_email {}

    .field_msg {}

    .form-bottom {
      margin-top: 20px;
    }

    .check {
      &__inp {}

      &__text {}

      &__link {}
    }

    .btn {
      margin: 20px auto 0;
      padding: 15px 45px;
    }
  }
}