@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.menu {
  &::before {
    // width: 150px;
    // height: 150px;
    right: 250px;
  }

  &::after {
    left: auto;
    right: -25px;
    // width: 360px;
    // height: 360px;
  }

  &__cnt {
    padding: 75px calc(50vw - 268px) 0;
  }
}