@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-us-sect {
  padding: $sectionPadding1280 0;
  &__form-wrap {
    padding-top: 105px;
    padding-bottom: 115px;
    background-size: 1090px 100%;
    background-position: calc(50vw - 640px) 0;
    &::before {
      // decor text
    }
  }

  &__title {
    margin: -18px 0 50px $sectionIndent1024;
    font-size: 42px;
    &::before {
      // decor ring
    }
  }

  &__form {
    padding-left: $sectionIndent1024;
    width: 870px + $sectionIndent1024;
    .field {
      width: 395px;
      &__inp {}

      &__text {}

      &__textarea {}
    }

    .field_name,
    .field_tel {
      margin-bottom: 50px;
    }

    .field_name,
    .field_tel,
    .field_email,
    .field_msg {}

    .field_name {}

    .field_tel {}

    .field_email {}

    .field_msg {}

    .form-bottom {}

    .check {
      &__inp {}

      &__text {}

      &__link {}
    }

    .check_tick {}

    .btn {}
  }
}