@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-brands-sect {
  padding-top: $sectionPadding1280;
  padding-bottom: $sectionPadding1280 - 65px;
  &__wrap {
    &::before {
      // decor text
    }
  }

  &__brand {
    // margin: 0 0 65px;
    width: 230px;
    // height: 98px;
    &:first-child {
      margin: 0 auto 0 $sectionIndent1280 - 20px;
    }
    &:nth-child(odd) {
    }
  }
}