@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-404 {
  &::before {
    // decor text
    left: $sectionHrPadding1024;
  }
   &::after {
    // decor tree
    width: 450px;
    height: 220px;
    bottom: -75px;
  }
  &__decor-title {
    left: calc((50vw - 480px) + 115px);
  }

  &__pic {
    margin: 0;
  }

  &__img {}

  &__text-block {
    max-width: 405px + 75px;
    padding-left: 75px;
  }

  &__title {}

  &__descr {}
}