$sectionIndent576: 20px;
$sectionIndent768: 85px;
$sectionIndent1024: 75px;
$sectionIndent1280: 100px;

$sectionPadding320: 50px;
$sectionPadding768: 70px;
$sectionPadding1024: 80px;
$sectionPadding1280: 90px;


$sectionHrPadding576: calc(50vw - 268px);
$sectionHrPadding768: calc(50vw - 360px);
$sectionHrPadding1024: calc(50vw - 480px);
$sectionHrPadding1280: calc(50vw - 580px);
