/* На странице редактирования медиафайла */
// .compat-attachment-fields tr[data-name="webp"],
//   {
//   display: inline-block !important;
//   max-width: 33%;
// }

/* Родительская категория на странице редактирования записи */
#category-all>#categorychecklist>li:not(.popular-category)>label.selectit>input,
/* Скрытие тексового поля на странице информация о медиафайле */
tr.acf-field[data-name="create_images"],
/* Родительский бренд на странице редактирования записи
    #post_tag-all > #post_tagchecklist > li:not(.popular-category) > label.selectit > input,  */
/* Забыл что это */
acf-field[data-name="category"] .children.acf-bl,
/* Забыл что это */
[data-name="brands"] .children.acf-bl {
  display: none !important;
}

.acf-field[data-name="subcategories"] .acf-checkbox-list>li>label {
  pointer-events: none;
}

.acf-field[data-name="subcategories"] .acf-checkbox-list>li>label>input {
  display: none;
}

/* Делаем недоступным нажатие на label родительской категории (стр. редактирования товара) */
#category-all>#categorychecklist>li:not(.popular-category)>label.selectit {
  pointer-events: none;
}

/* Растягиваем настройки адаптивности изображений на всю ширину блока (стр с медифайлом) */
// .compat-attachment-fields [data-name="images_variables"]>.acf-input

/* ,
    .compat-attachment-fields [data-name="webp"] > .acf-input,
    .compat-attachment-fields [data-name="2x_webp"] > .acf-input,
    .compat-attachment-fields [data-name="2x"] > .acf-input */
  // {
  // width: 100% !important;
// }

/* Удаляем блок с подписью и блок с описанием для медифайлов (для экономии места) */
.attachment-info [data-setting="caption"],
.attachment-info [data-setting="description"] {
  display: none !important;
}

/* Уменьшаем размеры приклепляемых изображений (для экономии места) */
.compat-attachment-fields [data-name="webp"]>.acf-input [data-name="img"],
.compat-attachment-fields [data-name="2x_webp"]>.acf-input [data-name="img"],
.compat-attachment-fields [data-name="2x"]>.acf-input [data-name="img"] {
  max-width: 30%;
}

.create-images-block {
  display: flex;
  align-items: center;
  > .success {
    text-align: center;
    color: #008a20;
    margin: 0 10px;
  }
  > .spinner.hidden {
    display: none;
  }
}