@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.category-child {
  .catalogue-hero-sect__descr {
    margin-right: 295px;
  }
}

.catalogue-hero-sect {
  &::before {
    // decor star 
    // right: calc(50vw - 580px);
  }
  &__title {
    font-size: 48px;
  }
  &__descr {
    margin-right: 305px;
    &::after {
      // decor logo
      // right: calc(50vw - 530px);
    }
  }
  &__catalogue-wrap {
  }
  &__catalogue-left {
    width: 360px;
  }
  &__catalogue-left-line {
  }
  &__category {
  }
  &__catalogue-right {
    width: 760px; 
  }
  &__right-item {
  }
}

.catalogue-items {
  &__item {
  }
}
.catalogue-item {
  &__link {
  }
  &__title {
  }
  &__img {
  }
}

.product-popup {
  &__cnt {}

  &__close {}

  &__close-svg {}

  &__close-path {}

  &__title {}

  &__form {
    .field {
      &__inp {}

      &__text {}

      &__textarea {}
    }

    .field_name,
    .field_tel,
    .field_email {}

    .field_name {}

    .field_tel {}

    .field_email {}

    .field_msg {}

    .form-bottom {}

    .check {
      &__inp {}

      &__text {}

      &__link {}
    }

    .btn {}
  }
}